<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-book Management</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

    <link rel="stylesheet" href="/css/adminStyle.css">
</head>

<body>
    <!-- ======= HEADER ======= -->
    <%- include('./partials/headerAdmin'); -%>

    <!-- ======= BODY ======= -->
    <div class="content">
        <div class="container">
            <!-- PAGINATION -->
            <h1 class="mt-5 mb-3">E-BOOK MANAGEMENT</h1>
            <div class="admin-new d-flex justify-content-end mb-2">
                <button id="open" class="btn btn-success bi me-2 mt-2 mb-2 d-flex align-items-center">
                    <ion-icon class="mr-2" name="add-circle-outline"></ion-icon>
                    New
            </button>
            </div>
            <table id="items-table">
                <thead class="table-dark">
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Title</th>
                        <th scope="col">Type</th>
                        <th scope="col">Language</th>
                        <th scope="col">Author</th>
                        <th scope="col">Action By</th>
                        <th scope="col">State</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody id="items-body">
                    <% if (ebookData && ebookData.length > 0) { %>
                        <% ebookData.forEach(ebook => { %>
                            <tr id="item-1">
                                <th scope="row"></th>
                                <td><%= ebook.title %></td>
                                <td><%= ebook.type %></td>
                                <td><%= ebook.language %></td>
                                <td><%= ebook.author %></td>
                                <td>Admin</td>
                                <td>
                                    <span id="wait"><%= ebook.state %></span>
                                </td>
                                <td>
                                    <a class="detail" href="/ebookDetailManagement?id=<%= ebook._id %>">
                                        <ion-icon name="eye-outline" class="mr-2"></ion-icon>
                                        Detail
                                    </a>
                                </td>
                            </tr>
                        <% }) %>
                    <% } %>                    
                </tbody>
            </table>
            <div class="pagination">
                <button id="prev" onclick="prevPage()">Prev</button>
                <span id="page-info"></span>
                <button id="next" onclick="nextPage()">Next</button>
            </div>
        </div>
    </div>

    <!-- MODAL CREATE -->
    <div id="modal-container">
        <div id="modal" class="dialog-modal">
            <form action="" method="post" enctype="multipart/form-data">
                <div class="form-box">
                    <ion-icon id="close" name="close-circle-outline" class="close text-success mt-3 me-4"></ion-icon>
                    <div>
                        <h2 class="d-flex justify-content-center mb-4">ADD NEW EBOOK</h2>
                    </div>
                    <% if(typeof message !== 'undefined') { %>
                        <div class="alert alert-danger" role="alert">
                            <%= message %>
                        </div>
                    <% }%>
                    <div class="row">
                        <div class="inputbox">
                            <ion-icon name="book-outline"></ion-icon>
                            <input type="text" class="input" id="title" name="title" required/>
                            <label for="Tilte">Title</label>
                        </div>
                    </div>

                    <div class="row d-flex justify-content-center">
                        <div class="inputbox col-4 ms-0">
                            <ion-icon name="keypad-outline"></ion-icon>
                            <input type="text" class="input" id="type" name="type" required/>
                            <label for="type">Type</label>
                        </div>

                        <div class="inputbox col-4 me-0">
                            <ion-icon name="language-outline"></ion-icon>
                            <input type="text" class="input" id="Language" name="language" required/>
                            <label for="language">Language</label>
                        </div>
                    </div>

                    <div class="row d-flex justify-content-center">
                        <div class="inputbox col-4 ms-0">
                            <ion-icon name="calendar-number-outline"></ion-icon>
                            <input type="text" class="input" id="pub-year" name="pub-year" required/>
                            <label for="pub-year">Publishing Year</label>
                        </div>

                        <div class="inputbox col-4 me-0">
                            <ion-icon name="business-outline" class="ms-2"></ion-icon>
                            <input type="text" class="input" id="publisher" name="publisher" required/>
                            <label for="publisher">Publisher</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="inputbox">
                            <ion-icon name="code-working-outline"></ion-icon>
                            <input type="text" class="input" id="doi" name="doi" required/>
                            <label for="doi">DOI</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="inputbox">
                            <ion-icon name="qr-code-outline"></ion-icon>
                            <input type="text" class="input" id="isbn" name="title" required/>
                            <label for="isbn">ISBN Code</label>
                        </div>
                    </div>
        
                    <div class="row">
                        <div class="inputbox">
                            <ion-icon name="pencil-outline"></ion-icon>
                            <input type="text" class="input" id="describe" name="description" required/>
                            <label for="description">Description</label>
                        </div>
                    </div>
    
                    <div class="row">
                        <div class="inputbox d-flex justify-content-end w-full max-w-xs items-center gap-1.5" style="border-bottom: 0;">
                            <label for="picture" class="col-2 p-0">Picture</label>
                            <input id="picture" type="file" class="flex h-10 w-full rounded-md border border-input px-3 py-2 text-sm text-gray-400 file:border-0 file:bg-transparent file:text-gray-600 file:text-sm file:font-medium col-10" name="imageFile">
                        </div>
                    </div>
                    <strong class="text-white ml-5 ps-1">File format: png, jpg</strong>

                    <div class="row">
                        <div class="inputbox d-flex justify-content-end w-full max-w-xs items-center gap-1.5" style="border-bottom: 0;">
                            <label for="ebook-file" class="col-2 p-0">Ebook</label>
                            <input id="ebook-file" type="file" class="flex h-10 w-full rounded-md border border-input px-3 py-2 text-sm text-gray-400 file:border-0 file:bg-transparent file:text-gray-600 file:text-sm file:font-medium col-10" name="ebookFile">
                        </div>
                    </div>
                    <strong class="text-white ml-5 ps-1">File format: pdf, epub, mobi, azw</strong>

                    
                    <div class="row">
                        <div class="author text-white d-flex justify-content-center mt-4 mb-4">
                            <strong>Author: <span>Username</span></strong>
                        </div>
                        <div class="inputbox" style="display: none;">
                            <ion-icon name="person-circle-outline"></ion-icon>
                            <input type="text" class="input" id="author" name="author" value="" required/>
                            <label for="author">Author</label>
                        </div>
                    </div>
                    

                    <div class="create d-flex justify-content-center">
                        <button type="submit" class="full-rounded" data-target=".addNewEbook">
                            <span>Submit</span>
                            <div class="border full-rounded"></div>
                        </button>
                    </div>
                </div>
            </form>     
        </div>
    </div>
    
    <!-- Success Modal -->
    <div class="modal fade addNewEbook" id="successModal" tabindex="-1" aria-labelledby="successModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="successModalLabel">Success</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    New eBook has been added successfully.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="reloadPageButton">OK</button>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    // OPEN MODAL
    const btn_new = document.getElementById('open');
    const btn_close = document.getElementById('close');
    const modal_container = document.getElementById('modal-container');
    btn_new.addEventListener('click', function() {
        modal_container.classList.add('show');
    })
    btn_close.addEventListener('click', function() {
        modal_container.classList.remove('show');
    })
    
    modal_container.addEventListener('click', (event) => {
        if (event.target === modal_container) {
            modal_container.classList.remove('show');
        }
    });

    // PAGINATION
    const itemsPerPage = 10;
    let currentPage = 1;

    const itemsBody = document.getElementById('items-body');
    const pageInfo = document.getElementById('page-info');
    const prevButton = document.getElementById('prev');
    const nextButton = document.getElementById('next');

    function renderItems() {
        const items = Array.from(document.querySelectorAll('#items-body tr'));
        const totalItems = items.length;
        const totalPages = Math.ceil(totalItems / itemsPerPage);
        const start = (currentPage - 1) * itemsPerPage;
        const end = Math.min(start + itemsPerPage, totalItems);

        items.forEach((item, index) => {
            if (index >= start && index < end) {
                item.style.display = 'table-row'; // Hiển thị mỗi hàng
                item.querySelector('th[scope="row"]').textContent = index + 1; // Cập nhật số thứ tự
            } else {
                item.style.display = 'none'; // Ẩn các hàng không thuộc trang hiện tại
            }
        });

        pageInfo.textContent = `Page ${currentPage} of ${totalPages}`;

        prevButton.disabled = currentPage === 1;
        nextButton.disabled = currentPage === totalPages;
    }

    function prevPage() {
        if (currentPage > 1) {
            currentPage--;
            renderItems();
        }
    }

    function nextPage() {
        const items = Array.from(document.querySelectorAll('#items-body tr'));
        if (currentPage < Math.ceil(items.length / itemsPerPage)) {
            currentPage++;
            renderItems();
        }
    }
    document.addEventListener('DOMContentLoaded', renderItems);
</script>
</html>
