<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Ebook</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <!-- ======= HEADER ======= -->
    <%- include('./partials/header'); -%>

    <!-- ======= BODY ======= -->
    <div class="body">
        <div class="contain-fluild">
            <div class="row">
                <!-- SIDEBAR -->
                <%- include('./partials/sidebar'); -%>
        
                <!-- DISPLAY -->
                <div class="display col-lg-9 col-md-12">
                    <h1 class="my-ebooks-heading text-success d-flex justify-content-center mt-5">MY EBOOKS</h1>
                    <div class="row mb-3">
                        <% if (formattedEbookData && formattedEbookData.length > 0) { %>
                            <% formattedEbookData.forEach(ebook => { %>
                                <div class="col-lg-3 col-md-4 col-sm-6 mb-5">
                                    <a href="/myEbookDetail?id=<%= ebook._id%>">
                                        <div class="card">
                                            <img src="/images/background_1.jpg" class="card-img-top" alt="">
                                            <div class="card-body">
                                                <h5 class="card-title text-white"><%= ebook.title %></h5>
                                                <div class="category mb-2">
                                                    <span class="text-white">Category - </span>
                                                    <a href="" class="category-name"><%= ebook.type %></a>
                                                </div>
                                                <div class="state text-white">
                                                    <span class="text-white">State - </span>
                                                    <a href="" class="post-date"><%= ebook.state %></a>
                                                </div>
                                                <div class="author">
                                                    By <a href="" class="author-name"><%= ebook.author %></a> - <span class="post-date">
                                                        <%= ebook.formattedDate %>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            <% }) %>
                        <% } %>
                    </div>
                </div>
    <!-- DIALOG CREATE -->
    <div id="modal-container">
        <div id="modal" class="dialog-modal">
            <div class="form-box">
                <ion-icon id="close" name="close-circle-outline" class="close text-success mt-3 me-4"></ion-icon>
                <div>
                    <h2 class="d-flex justify-content-center mb-4">ADD NEW EBOOK</h2>
                </div>
                <% if(typeof message !== 'undefined') { %>
                    <div class="alert alert-danger" role="alert">
                        <%= message %>
                    </div>
                <% }%>
                <form action="/myEbooks" method="post" enctype="multipart/form-data">
                    <div class="row">
                        <div class="inputbox">
                            <ion-icon name="book-outline"></ion-icon>
                            <input type="text" class="input" id="title" name="title" required/>
                            <label for="Tilte">Title</label>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="inputbox col-lg-4">
                            <ion-icon name="keypad-outline"></ion-icon>
                            <input type="text" class="input" id="type" name="type" required/>
                            <label for="type">Type</label>
                        </div>
                        <div class="inputbox col-lg-4">
                            <ion-icon name="language-outline"></ion-icon>
                            <input type="text" class="input" id="Language" name="language" required/>
                            <label for="language">Language</label>
                        </div>
                    </div>
        
                    <div class="row">
                        <div class="inputbox">
                            <ion-icon name="pencil-outline"></ion-icon>
                            <input type="text" class="input" id="describe" name="description" required/>
                            <label for="description">Description</label>
                        </div>
                    </div>
    
                    <div class="row">
                        <div class="inputbox w-full max-w-xs items-center gap-1.5 col-lg-4" style="border-bottom: 0;">
                            <input id="picture" type="file" class="flex h-10 w-full rounded-md border border-input px-3 py-2 text-sm text-gray-400 file:border-0 file:bg-transparent file:text-gray-600 file:text-sm file:font-medium" name="imageFile">
                        </div>
    
                        <div class="inputbox w-full max-w-xs items-center gap-1.5 col-lg-4" style="border-bottom: 0;">
                            <input id="ebook-file" type="file" class="flex h-10 w-full rounded-md border border-input px-3 py-2 text-sm text-gray-400 file:border-0 file:bg-transparent file:text-gray-600 file:text-sm file:font-medium" name="ebookFile">
                        </div>
                    </div>

                    
                    <%if(user){%>
                        <div class="row">
                            <div class="author text-white d-flex justify-content-center mb-2">
                                <p>Author: <span>Username</span></p>
                            </div>
                            <div class="inputbox" style="display: none;">
                                <ion-icon name="person-circle-outline"></ion-icon>
                                <input type="text" class="input" id="author" name="author" value="<%= user.username%>" required/>
                                <label for="author">Author</label>
                            </div>
                        </div>
                    <%}%>
                    

                    <div class="create d-flex justify-content-center">
                        <button type="submit" class="full-rounded" data-target=".addNewEbook">
                            <span>Submit</span>
                            <div class="border full-rounded"></div>
                        </button>
                    </div>
                </form>     
            </div>
        </div>
    </div>
    <!-- Success Modal -->
    <div class="modal fade addNewEbook" id="successModal" tabindex="-1" aria-labelledby="successModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="successModalLabel">Success</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    New eBook has been added successfully.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="reloadPageButton">OK</button>
                </div>
            </div>
        </div>
    </div>


    <!-- ======= FOOTER ======= -->
    <%- include('./partials/footer'); -%>
</body>

<script>
    // OPEN MODAL
    const btn_new = document.getElementById('open');
    const btn_close = document.getElementById('close');
    const modal_container = document.getElementById('modal-container');
    btn_new.addEventListener('click', function() {
        modal_container.classList.add('show');
    })
    btn_close.addEventListener('click', function() {
        modal_container.classList.remove('show');
    })
    
    modal_container.addEventListener('click', (event) => {
        if (event.target === modal_container) {
            modal_container.classList.remove('show');
        }
    });

    //Hidden btn new 
    window.addEventListener('DOMContentLoaded', (event) => {
        const specialButton = document.getElementById('open');
            if (window.location.pathname === '/myEbooks') {
                specialButton.classList.remove('hidden');
        }
    });
</script>
</html>
